<!DOCTYPE html>
<html lang="en-ca">
  <head>
    <meta charset="utf-8">
    <title>Emma Ryan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,700" rel="stylesheet">
  </head>

  <body>

    <header>
      <div id="navigation" class="gutter-2 pad-t-1-2">
        <nav class="list-group nav milli">
          <ul class="list-group-inline">
            <li><a id="my-logo" href="{{site.baseurl}}/"><img class="icon i-48" src="{{site.baseurl}}/images/my-logo.png" alt=""></a></li>
            <li class="gutter"><a href="{{site.baseurl}}/about/">About Me</a></li>
            <li class="gutter"><a href="{{site.baseurl}}/#work">My Work</a></li>
            <li class="gutter"><a href="{{site.baseurl}}/contact/">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    {{content}}

    <footer class="footer island milli">
      <div class="line-separator"></div>
      <a class="text-center" href="{{site.baseurl}}/"> < Back to home</a>
      <p class="text-center push-0 pad-t-1">design@emmaryan.ca</p>
      <p class="text-center">© 2018 Emma Ryan</p>
    </footer>

  </body>
</html>
