<!DOCTYPE html>
<html lang="en-ca">
  <head>
    <meta charset="utf-8">
    <title>Emma Ryan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,700" rel="stylesheet">
  </head>

  <body>

    <header>
      <div id="navigation" class="gutter-2 pad-t-1-2">
        <nav class="list-group nav milli">
          <ul class="list-group-inline">
            <li class="gutter"><a href="illustration.html">About Me</a></li>
            <li class="gutter"><a href="typography.html">My Work</a></li>
            <li class="gutter"><a href="{{site.baseurl}}/contact/">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    {{content}}

    <footer class="footer island">
      <div class="line-separator"></div>
      <p class="push-0 text-center">Contact me!</p>
      <p class="text-center push-0">design@emmaryan.ca</p>
    </footer>

  </body>
</html>
